body {
  color: #e4e4e4;
  font-size: 5rem;
  margin-bottom: .5em;
  text-align: center;
}

.card {
  background: lightgreen;
  width: 350px;
  padding: 3rem;
  right: 50%;
}

.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: bottom left;

  /*object-fit: contain;*/

  /*object-fit: fill;*/
  /* ^^ Stretched image to fit requested dimensions */

  /*object-fit: none;*/
  /* If you don't want to resize image, and just show parts of it ^^*/

  /*object-fit: scale-down;*/
  /* Browser support is great for object-fit, except with Internet Explorer */
}